<%= form_tag("/", method: "get") do %>
  <%= label_tag(:word, "Search for:") %>
  <%= text_field_tag(:word) %>
  <%= submit_tag("Submit") %>
<% end %>

<% if @root_facade %>
<h2>Examples for using '<%= @root_facade.word %>'</h2>

<% @root_facade.sentences.each do |sentence| %>
  <ul>
    <li><%= sentence.region %></li>
    <li><%= sentence.text %></li>
  </ul>
<% end %>
<% end %>
